.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 55px;
    padding: 25px;
    transition: 1.25s;
  }
  .form {
    width: 350px;
    height: 40px;
    margin: 4px 0;
    padding-left: 25px;
    font-size: 13px;
    letter-spacing: 0.15px;
    border: none;
    outline: none;
    font-family: "Montserrat", sans-serif;
    background-color: #ecf1f4;
    transition: 0.25s ease;
    border-radius: 8px;
    box-shadow: inset 2px 2px 4px #edeff2, inset -2px -2px 4px #f1ecec;
  }
  .form:focus {
    box-shadow: inset 4px 4px 4px #e3eaf7, inset -4px -4px 4px #f9f6f6;
  }
  button {
    width: 180px;
    height: 50px;
    border-radius: 25px;
    margin-top: 50px;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.15px;
    background-color:rgb(8, 44, 8);
    color: #F9F9F9;
    box-shadow: 8px 8px 16px #e4ebf5, -8px -8px 16px #f7f3f3;
    border: none;
    outline: none;
    cursor: pointer;
  }

input {
    margin: 20px;
    padding: 10px;
}

/*p {
  color: red;
  font-style: italic;
  font-size: 16px;
}*/