.home{
    width: 100%;
    height: 100vh; 
}
.container{
    max-width: 1240px;
    padding: 0 1rem;
    margin:5rem;
}
.home .content{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
}
.col-1{
    padding-top:1rem ;
    padding-bottom:1rem ;
    padding-left:0rem;
    padding-right:1rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 5rem;
}
.col-1 h1{
    font-size: 3rem;
    font-weight: 700;
    color: var(--secondary);
}
.col-1 p{
    font-size: 1rem;
    line-height: 1.4;
    margin-top: 1.2rem;
}
.col-2{
    padding: 1rem;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.col-2 img{
      height: 60%;
      width: 50%;
      top: 18rem;
      margin-right:4rem;
}
.button-container{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 60%;
    padding: 10px;
    justify-content: space-evenly;
   
}
.custom-button{
    border: none;
    border-radius: 5px;
    color: var(--secondary);
    width: fit-content;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 2px 6px grey;
    transition: .25s;
    overflow: hidden;
    position: relative;
    background-color: var(--blue);
    }
    .custom-button:after {
    content: "";
    background: var(--grey);
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
    }
    .custom-button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
    }
    @media screen and (max-width:940px){
        .home{
            height: auto;
            width:100%
        }
        .home .container{
            padding:0 1rem;
        }
        .home .content{
            grid-template-columns: 1fr; 
        }
        .col-1{
            height: 90vh;
            padding: .2rem;
            max-width:100% ;
        }
        .home h1{
            font-size: 3.5rem;
        }
        .home .col-2{
            display: none;
        }

    }

